@model IEnumerable<UploadingFiles.Web.Models.UploadedFileViewModel>

<h2>Files list</h2>

<table class="table listTable" id="listTable">
    <tr>
        <th>
            <p>@Html.DisplayNameFor(model => model.Name)</p>
        </th>
        <th>
            <p>@Html.DisplayNameFor(model => model.Description)</p>
        </th>
        <th>
            <p></p>
        </th>
    </tr>

    @foreach (var file in Model)
    {
        <tr>
            <td>
                <a href="/Home/Download/@file.Id">@file.Name</a>
            </td>
            <td>
                <p>@file.Description</p>
            </td>
            <td>
                @Html.ActionLink("Delete", "RemoveFile", new { id = file.Id })
            </td>
        </tr>
    }

</table>
